# Common Bazel settings for JavaScript/NodeJS workspaces
# This rc file is automatically discovered when Bazel is run in this workspace,
# see https://docs.bazel.build/versions/master/guide.html#bazelrc
#
# The full list of Bazel options: https://docs.bazel.build/versions/master/command-line-reference.html

build --workspace_status_command "/bin/bash bazel/workspace_status.sh"

# Output failing tests' output by default
test --test_output=errors

# Turn on --incompatible_strict_action_env which was on by default
# in Bazel 0.21.0 but turned off again in 0.22.0. Follow
# https://github.com/bazelbuild/bazel/issues/7026 for more details.
build --incompatible_strict_action_env
run --incompatible_strict_action_env

# TODO(INFRA-4384): Remove this flag once all dependencies are compatible with
# the new platforms repo for constraints.
build --noincompatible_use_platforms_repo_for_constraints

# BUG(INFRA-4263): These flags are needed in order to use C++ toolchain
# resolution with a hermetic toolchain, rather than letting bazel resolve the
# toolchain to the one on the host.
# See https://github.com/f0rmiga/gcc-toolchain/issues/88
build --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --incompatible_enable_cc_toolchain_resolution
# See https://github.com/f0rmiga/gcc-toolchain/issues/85; without this flag,
# moving to a hermetic C++ toolchain increases C++ build times by ~40%. With
# this flag, the extra overhead is reduced (but not entirely eliminated)
build --experimental_reuse_sandbox_directories

# Load any settings specific to the current user.
# .bazelrc.user should appear in .gitignore so that settings are not shared with team members
# This needs to be last statement in this
# config, as the user configuration should be able to overwrite flags from this file.
# See https://docs.bazel.build/versions/master/best-practices.html#bazelrc
# (Note that we use .bazelrc.user so the file appears next to .bazelrc in directory listing,
# rather than user.bazelrc as suggested in the Bazel docs)
try-import %workspace%/.bazelrc.user
