bazel-*
.bazelrc.*
.*.sw[po]
*.orig
*.pyc
*.rej
scrap/
tags
.tmp
tmp
dist
bazel-out
node_modules
credentials*.json
Cargo.lock
cscope.*
*.flag*
*.config*
.cargo
__pycache__/
.pytest_cache
.idea/
.ijwb/
.terraform
*.tfstate.backup
