absl-py==1.0.0
attrs==21.4.0
importlib-metadata==4.11.3
importlib-resources==5.7.1
jinja2==3.1.1
jinja2-strcase==0.0.2
jsonschema==4.4.0
linkify-it-py==1.0.3
markdown-it-py==2.2.0
markupsafe==2.1.1
mdformat-gfm==0.3.5
mdformat==0.7.14
mdformat_tables==0.4.1
mdit-py-plugins==0.3.0
mdurl==0.1.1
pyrsistent==0.18.1
pyyaml==6.0
six==1.16.0
tomli==2.0.1
uc-micro-py==1.0.1
zipp==3.8.0
