#!/bin/bash

set -e

TMPOUTPUT=$TEST_TMPDIR/.output
HOSTFS="$(mktemp -d)"
cp $(realpath {module}) $HOSTFS
cp $(realpath {deps}) $HOSTFS

{kernel} ubd0={rootfs} hostfs=${HOSTFS} uml_dir=$TEST_TMPDIR rw | tee $TMPOUTPUT
{parser} parse < $TMPOUTPUT
