[Unit]
Description=Machinist Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{.User}}
ExecStart={{.InstallPath}} {{.Command}}

[Install]
WantedBy=multi-user.target
