<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <h1 class="display-3">Flextape Queues</h1>
        <div class="accordion" id="licenses_accordion">
        {{range .GetLicenseStats}}
            <div class="card">
                <div class="card-header" id="heading-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link collapsed"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapse-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}"
                            aria-expanded="false"
                            aria-controls="collapse-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}">
                            {{.GetLicense.GetVendor}}::{{.GetLicense.GetFeature}}
                        </button>
                        <button
                            class="btn btn-link collapsed float-right"
                            type="button"
                            data-toggle="collapse"
                            data-target="#collapse-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}"
                            aria-expanded="false"
                            aria-controls="collapse-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}">
                            {{len .GetAllocatedInvocations}} reserved; {{len .GetQueuedInvocations}} in queue
                        </button>
                    </h2>
                </div>
                <div
                    id="collapse-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}"
                    class="collapse"
                    aria-labelledby="heading-{{.GetLicense.GetVendor}}_{{.GetLicense.GetFeature}}"
                    data-parent="#licenses_accordion">
                    <div class="card-body">
                        <h3>Reservations</h3>
                        <table class="table thead-light">
                            <tr>
                                <th>Command ID</th>
                                <th>User</th>
                            </tr>
                            {{range .GetAllocatedInvocations}}
                            <tr>
                                <td>{{.GetId}}</td>
                                <td>{{.GetOwner}}</td>
                            </tr>
                            {{end}}
                        </table>
                        <h3>Queue</h3>
                        <table class="table thead-light">
                            <tr>
                                <th>Command ID</th>
                                <th>User</th>
                            </tr>
                            {{range .GetQueuedInvocations}}
                            <tr>
                                <td>{{.GetId}}</td>
                                <td>{{.GetOwner}}</td>
                            </tr>
                            {{end}}
                        </table>
                    </div>
                </div>
            </div>
        {{end}}
        </div>

        <!-- Required for bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script>
        // Keep scroll position on refresh
        document.addEventListener("DOMContentLoaded", function(event) { 
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });
        // Keep collapsed state on refresh
        $(document).ready(function () {
           // When a group is shown, save it as the active accordion group
           $("#licenses_accordion").on('shown.bs.collapse', function () {
               var active = $("#licenses_accordion .show").attr('id');
               window.localStorage.setItem('activeAccordionGroup', active);
           });
           $("#licenses_accordion").on('hidden.bs.collapse', function () {
               window.localStorage.removeItem('activeAccordionGroup');
           });
           var last = window.localStorage.getItem('activeAccordionGroup');
           if (last != null) {
               // Remove default collapse settings
               $("#accordion .panel-collapse").removeClass('show');
               // Show the account_last visible group
               $("#" + last).addClass("show");
           }
           var scrollpos = localStorage.getItem('scrollpos');
           if (scrollpos) window.scrollTo(0, scrollpos);
        });
        </script>
    </body>
</html>