.avatar {
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
}

#thumbs-up {
    background-image: url('/thumbs-up.png');
}

#broken {
    background-image: url('/broken.png');
}

#angry {
    background-image: url('/angry.png');
}

#hungry {
    background-image: url('/hungry.png');
}

#tired {
    background-image: url('/tired.png');
}

